/* モーダルウィンドウ全体 */
.modal {
    display: none;
    /* 最初は非表示にする */
    margin: auto;
    position: fixed;
    z-index: 5;
    left: 30%;
    top: 30%;
    width: 40%;
    height: 30%;
    border-radius: 7px;
    overflow: auto;
    background-color: white;
    border: solid 1px gainsboro;
    box-shadow: 5px 5px 7px gainsboro;
    /* モーダルの背景色 */
}

@media screen and (max-width:768px) {
    .modal {
        display: none;
        /* 最初は非表示にする */
        margin: auto;
        position: fixed;
        z-index: 5;
        left: 30%;
        top: 30%;
        width: 40%;
        height: 20%;
        border-radius: 7px;
        overflow: auto;
        background-color: white;
        border: solid 1px gainsboro;
        box-shadow: 3px 3px 4px gainsboro;
        /* モーダルの背景色 */
    }
}

/* モーダルコンテンツ */
.modal-content {
    background-color: white;
    margin: auto;
    padding: auto;
    width: 100%;
    height: 100%;
}

.close-button__outer {
    width: 100%;
    height: 10%;
    text-align: left;
}

/* 閉じるボタン */
.close {
    background-color: black;
    border-radius: 5px;
    border: 0;
    margin: 3%;
    width: 6%;
    height: 5%;
    color: white;
    font-weight: 1;
    font-size: 25px;
    box-shadow: 3px 3px 3px gainsboro;
    cursor: pointer;
}

@media screen and (max-width:768px) {
    .close {
        background-color: black;
        border-radius: 5px;
        border: 0;
        margin: 3%;
        width: 10%;
        height: 5%;
        color: white;
        font-weight: 1;
        font-size: 13px;
        box-shadow: 2px 2px 2px gainsboro;
        cursor: pointer;
    }
}

.modal__message-outer {
    width: 100%;
    margin-top: 7%;
}

.modal__message {
    text-align: center;
    color: black;
    font-size: 20px;
}

@media screen and (max-width:768px) {
    .modal__message {
        text-align: center;
        color: black;
        font-size: 13px;
    }
}

/* header */
.search__outer {
    width: 100%;
    height: 50%;
    padding-top: 7px;
}

@media screen and (max-width:768px) {
    .search__outer {
        width: 100%;
        height: 50%;
        padding-top: 2px;
    }
}

.search__input {
    width: 100%;
    margin-top: 5px;
    padding: 7px 10px 7px 25px;
    border-radius: 7px;
    font-size: 90%;
}

@media screen and (max-width:768px) {
    .search__input {
        width: 100%;
        margin-top: 9px;
        padding: 4px 5px 4px 5px;
        border-radius: 7px;
        font-size: 7px;
    }
}

.login__outer {
    width: 25%;
    height: 50%;
    margin-top: 5px;
    text-align: center;
    padding-top: 10px;
    font-size: 90%;
    cursor: pointer;
}

@media screen and (max-width:768px) {
    .login__outer {
        width: 25%;
        height: 50%;
        margin-top: 11px;
        text-align: center;
        padding-top: 5px;
        font-size: 7px;
        cursor: pointer;
    }
}

.login__outer a {
    text-decoration: none;
    color: white;
}

.register__outer {
    width: 25%;
    height: 50%;
    margin-top: 5px;
    text-align: center;
    padding-top: 10px;
    font-size: 90%;
    cursor: pointer;
}

@media screen and (max-width:768px) {
    .register__outer {
        width: 25%;
        height: 50%;
        margin-top: 11px;
        text-align: center;
        padding-top: 5px;
        font-size: 7px;
        cursor: pointer;
    }
}

.register__outer a {
    text-decoration: none;
    color: white;
}

.create__button-outer {
    width: 25%;
    height: 50%;
    margin-top: 5px;
    padding-top: 6px;
    text-align: center;
    cursor: pointer;
}

@media screen and (max-width:768px) {
    .create__button-outer {
        width: 30%;
        height: 50%;
        margin-top: 3px;
        padding-top: 1px;
        text-align: center;
        cursor: pointer;
    }
}

.open-modal {
    width: 60%;
    height: 110%;
    margin: 0 20%;
    padding-top: 100px;
    border-radius: 5px;
    text-decoration: none;
    color: black;
    background-color: white;
    font-size: 90%;
    padding: 5px 5px;
}

@media screen and (max-width:768px) {
    .open-modal {
        width: 60%;
        height: 20px;
        margin: 0 20%;
        border-radius: 5px;
        text-decoration: none;
        color: black;
        background-color: white;
        font-size: 6px;
        padding: 3px 3px;
    }
}

/* content */
.content__outer {
    width: 100%;
    display: flex;
    justify-content: space-around;
    margin: 5px auto 50px;
}

.img__outer {
    width: 300px;
    margin: 100px 50px 0;
    text-align: center;
    position: relative;
    top: 0;
    left: 0;
    align-items: center;
    overflow: hidden;
}

@media screen and (max-width:768px) {
    .img__outer {
        width: 115px;
        margin: 25px 13px 0;
        text-align: center;
        position: relative;
        top: 0;
        left: 0;
        align-items: center;
        overflow: hidden;
    }
}

.img__outer img {
    width: 300px;
    border-radius: 5px;
    object-fit: cover;
}

@media screen and (max-width:768px) {
    .img__outer img {
        width: 115px;
        border-radius: 5px;
        object-fit: cover;
    }
}

.sold__mark {
    position: absolute;
    top: 0;
    left: 0;
    border-top: 100px solid red;
    border-right: 100px solid transparent;
    border-bottom: 100px solid transparent;
    border-left: 100px solid red;
    border-top-left-radius: 5px;
}

@media screen and (max-width:768px) {
    .sold__mark {
        position: absolute;
        top: 0;
        left: 0;
        border-top: 25px solid red;
        border-right: 25px solid transparent;
        border-bottom: 25px solid transparent;
        border-left: 25px solid red;
        border-top-left-radius: 5px;
    }
}

.sold {
    position: absolute;
    top: -100px;
    left: -100px;
    width: 150px;
    font-size: 40px;
    color: white;
    transform: rotate(-45deg);
}

@media screen and (max-width:768px) {
    .sold {
        position: absolute;
        top: -25px;
        left: -25px;
        width: 38px;
        font-size: 10px;
        color: white;
        transform: rotate(-45deg);
    }
}

.detail__outer {
    width: 50%;
    padding-top: 50px;
}

@media screen and (max-width:768px) {
    .detail__outer {
        width: 50%;
        padding-top: 25px;
    }
}

.item__title {
    width: 100%;
    margin: 0;
    font-size: 35px;
    font-weight: bold;
}

@media screen and (max-width:768px) {
    .item__title {
        width: 100%;
        margin: 0;
        font-size: 18px;
        font-weight: bold;
    }
}

.brand {
    width: 100%;
    margin: 0;
    padding-top: 10px;
    font-size: 20px;
}

@media screen and (max-width:768px) {
    .brand {
        width: 100%;
        margin: 0;
        padding-top: 5px;
        font-size: 10px;
    }
}

.price {
    width: 100%;
    margin: 0;
    padding-top: 15px;
    font-size: 30px;
}

@media screen and (max-width:768px) {
    .price {
        width: 100%;
        margin: 0;
        padding-top: 8px;
        font-size: 15px;
    }
}

.icon__group {
    width: 50%;
    padding-top: 10px;
    display: flex;
}

@media screen and (max-width:768px) {
    .icon__group {
        width: 50%;
        padding-top: 5px;
        display: flex;
    }
}

.star__button {
    width: 60px;
    height: 60px;
    margin: 0 10px 0 0;
    background-color: white;
    border: 0;
    cursor: pointer;
}

@media screen and (max-width:768px) {
    .star__button {
        width: 30px;
        height: 30px;
        margin: 0 5px 0 0;
        background-color: white;
        border: 0;
        cursor: pointer;
    }
}

.comment__button {
    width: 60px;
    height: 60px;
    margin: 0 10px 0 10px;
    background-color: white;
    border: 0;
    cursor: pointer;
}

@media screen and (max-width:768px) {
    .comment__button {
        width: 30px;
        height: 30px;
        margin: 0 5px 0 5px;
        background-color: white;
        border: 0;
        cursor: pointer;
    }
}

.star__img,
.comment__img {
    width: 40px;
    height: 40px;
}

@media screen and (max-width:768px) {
    .star__img,
    .comment__img {
        width: 20px;
        height: 20px;
    }
}

.counts {
    width: 200px;
    padding-top: 10px;
    padding-left: 15px;
    display: flex;
}

@media screen and (max-width:768px) {
    .counts {
        width: 100px;
        padding-top: 5px;
        padding-left: 8px;
        display: flex;
    }
}

.favorites__counts {
    width: 60px;
    height: 60px;
    margin: 0 10px;
    background-color: white;
    border: 0;
}

@media screen and (max-width:768px) {
    .favorites__counts {
        width: 30px;
        height: 30px;
        margin: 0 5px;
        background-color: white;
        border: 0;
        font-size: 35%;
    }
}

.comments__counts {
    width: 60px;
    height: 60px;
    margin: 0 10px;
    background-color: white;
    border: 0;
}

@media screen and (max-width:768px) {
    .comments__counts {
        width: 30px;
        height: 30px;
        margin: 0 5px;
        background-color: white;
        border: 0;
        font-size: 35%;
    }
}

.purchase__button-outer {
    width: 60%;
}

@media screen and (max-width:768px) {
    .purchase__button-outer {
        width: 60%;
    }
}

.purchase__button {
    width: 90%;
    height: 45px;
    margin-top: 10px;
    border: 0;
    border-radius: 5px;
    background-color: gainsboro;
    color: black;
    font-size: 23px;
    cursor: pointer;
}

@media screen and (max-width:768px) {
    .purchase__button {
        width: 90%;
        height: 23px;
        margin-top: 5px;
        border: 0;
        border-radius: 5px;
        background-color: gainsboro;
        color: black;
        font-size: 12px;
        cursor: pointer;
    }
}

.purchase__button-p {
    margin-top: 1%;
    width: 90%;
    color: red;
}

@media screen and (max-width:768px) {
    .purchase__button-p {
        margin-top: 1%;
        width: 90%;
        font-size: 35%;
        color: red;
    }
}

.detail__group {
    width: 100%;
}

.detail__title {
    width: 100%;
    margin-top: 20px;
    font-size: 25px;
    font-weight: bold;
}

@media screen and (max-width:768px) {
    .detail__title {
        width: 100%;
        margin-top: 10px;
        font-size: 13px;
        font-weight: bold;
    }
}

.condition,
.main__category,
.sub__category,
.color {
    width: 100%;
    font-size: 17px;
}

@media screen and (max-width:768px) {
    .condition,
    .main__category,
    .sub__category,
    .color {
        width: 100%;
        font-size: 9px;
    }
}

.detail {
    width: 60%;
    font-size: 17px;
}

@media screen and (max-width:768px) {
    .detail {
        width: 60%;
        font-size: 9px;
    }
}
