/* モーダルウィンドウ全体 */
.modal {
    display: none;
    /* 最初は非表示にする */
    margin: auto;
    position: fixed;
    z-index: 5;
    left: 30%;
    top: 30%;
    width: 40%;
    height: 30%;
    border-radius: 7px;
    overflow: auto;
    background-color: white;
    border: solid 1px gainsboro;
    box-shadow: 5px 5px 7px gainsboro;
    /* モーダルの背景色 */
}

/* モーダルコンテンツ */
.modal-content {
    background-color: white;
    margin: auto;
    padding: auto;
    width: 100%;
    height: 100%;
}

.close-button__outer {
    width: 100%;
    height: 10%;
    text-align: left;
}

/* 閉じるボタン */
.close {
    background-color: black;
    border-radius: 5px;
    border: 0;
    margin: 3%;
    width: 5%;
    height: 5%;
    color: white;
    font-weight: 1;
    font-size: 25px;
    box-shadow: 3px 3px 3px gainsboro;
    cursor: pointer;
}

.modal__message-outer{
    width: 100%;
    margin-top: 7%;
}

.modal__message{
    text-align: center;
    color: black;
    font-size: 20px;
}

.search__outer{
    width: 100%;
    height: 100%;
}

.search__input{
    width: 100%;
    height: 100%;
    padding: 7px 10px 7px 25px;
    border-radius: 7px;
    font-size: 120%;
}

.login__outer{
    width: 25%;
    height: 100%;
    text-align: center;
    padding-top: 1%;
    font-size: 120%;
    cursor: pointer;
}

.login__outer a{
    text-decoration: none;
    color: white;
}

.register__outer {
    width: 25%;
    height: 120%;
    text-align: center;
    padding-top: 1%;
    font-size: 120%;
    cursor: pointer;
}

.register__outer a {
    text-decoration: none;
    color: white;
}

.create__link-outer {
    width: 25%;
    height: 100%;
    text-align: center;
    cursor: pointer;
}

.open-modal {
    width: 60%;
    height: 110%;
    margin: 0 20%;
    border-radius: 5px;
    text-decoration: none;
    color: black;
    background-color: white;
    font-size: 120%;
    padding: 5px 5px;
}

.open-modal {
    width: 60%;
    height: 100%;
    margin: 0 20%;
    border-radius: 5px;
    text-decoration: none;
    color: black;
    background-color: white;
    font-size: 23px;
    padding: 5px 5px;
}

.content__outer{
    width: 100%;
    margin: 5px auto;
}

.title__outer{
    width: 100%;
    border-bottom: solid 2px black;
    text-align: left;
}

.title{
    width: 20%;
    height: 100%;
    margin-top: 3%;
    margin-bottom: 1%;
    margin-left: 5%;
    font-size: 27px;
}

/*商品一覧*/
.items__outer{
    width: 100%;
    padding: 2% 3%;
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
}

.each__item{
    border: 0;
    background-color: white;
    text-decoration: none;
    cursor: pointer;
}

.item__box{
    width: 300px;
    height: 300px;
    border-radius: 5px;
    position: relative;
    top: 0;
    left: 0;

}

.item__img{
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
}

.item__img img{
    width: 100%;
    height: 100%;
    border-radius: 5px;
    object-fit: cover;
}

.price__outer{
    position: absolute;
    bottom: 3%;
    left: 0;
    z-index: 5px;
    width: 50%;
    height: 15%;
}

.price{
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 7%;
    color: white;
    font-size: 23px;
    background-color: rgba(0,0,0,0.5);
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
}

.item__img-group {
    width: 100%;
    height: 100%;
    border-radius: 5px;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.item__img-group img {
    width: 100%;
    height: 100%;
    padding: auto;
    border-radius: 5px;
    object-fit: cover;
}

.sold__mark{
    position: absolute;
    top: 0px;
    border-top: 50px solid red;
    border-right: 50px solid transparent;
    border-bottom: 50px solid transparent;
    border-left: 50px solid red;
    border-top-left-radius: 5px;
}

.sold{
    position: absolute;
    top: -50px;
    left: -50px;
    width: 70px;
    padding-top: 2px;
    font-size: 20px;
    color: white;
    transform: rotate(-45deg);
}



