/* モーダルウィンドウ全体 */
.modal {
    display: none;
    /* 最初は非表示にする */
    margin: auto;
    position: fixed;
    z-index: 5;
    left: 30%;
    top: 30%;
    width: 40%;
    height: 30%;
    border-radius: 7px;
    overflow: auto;
    background-color: white;
    border: solid 1px gainsboro;
    box-shadow: 5px 5px 7px gainsboro;
    /* モーダルの背景色 */
}

/* モーダルコンテンツ */
.modal-content {
    background-color: white;
    margin: auto;
    padding: auto;
    width: 100%;
    height: 100%;
}

.close-button__outer {
    width: 100%;
    height: 10%;
    text-align: left;
}

/* 閉じるボタン */
.close {
    background-color: black;
    border-radius: 5px;
    border: 0;
    margin: 3%;
    width: 5%;
    height: 5%;
    color: white;
    font-weight: 1;
    font-size: 25px;
    box-shadow: 3px 3px 3px gainsboro;
    cursor: pointer;
}

.modal__message-outer {
    width: 100%;
    margin-top: 7%;
}

.modal__message {
    text-align: center;
    color: black;
    font-size: 20px;
}

/* header */
.search__outer {
    width: 100%;
    height: 100%;
}

.search__input {
    width: 100%;
    height: 100%;
    padding: 7px 10px 7px 25px;
    border-radius: 7px;
    font-size: 120%;
}

.login__outer {
    width: 25%;
    height: 100%;
    text-align: center;
    padding-top: 1%;
    font-size: 120%;
    cursor: pointer;
}

.login__outer a {
    text-decoration: none;
    color: white;
}

.register__outer {
    width: 25%;
    height: 100%;
    text-align: center;
    padding-top: 1%;
    font-size: 120%;
    cursor: pointer;
}

.register__outer a {
    text-decoration: none;
    color: white;
}

.create__button-outer {
    width: 25%;
    height: 100%;
    text-align: center;
    cursor: pointer;
}

.open-modal {
    width: 60%;
    height: 110%;
    margin: 0 20%;
    border-radius: 5px;
    text-decoration: none;
    color: black;
    background-color: white;
    font-size: 120%;
    padding: 5px 5px;
}

/* content */
.content__outer {
    width: 100%;
    display: flex;
    justify-content: space-around;
    margin: 5px auto;
}

.img__outer{
    width: 50%;
    padding-top: 100px;
    text-align: center;
}

.img__outer img{
    width: 70%;
    border-radius: 5px;
}

.detail__outer{
    width: 50%;
    padding-top: 50px;
}

.item__title{
    width: 100%;
    margin: 0;
    font-size: 35px;
    font-weight: bold;
}

.brand{
    width: 100%;
    margin: 0;
    padding-top: 10px;
    font-size: 20px;
}

.price{
    width: 100%;
    margin: 0;
    padding-top: 15px;
    font-size: 30px;
}

.icon__group{
    width: 200px;
    padding-top: 10px;
    display: flex;
}

.star__button{
    width: 60px;
    height: 60px;
    margin: 0 10px 0 0;
    background-color: white;
    border: 0;
    cursor: pointer;
}

.comment__button {
    width: 60px;
    height: 60px;
    margin: 0 10px 0 10px;
    background-color: white;
    border: 0;
    cursor: pointer;
}

.star__img,.comment__img{
    width: 40px;
    height: 40px;
}

.counts {
    width: 200px;
    padding-top: 10px;
    padding-left: 15px;
    display: flex;
}

.favorites__counts {
    width: 60px;
    height: 60px;
    margin: 0 10px;
    background-color: white;
    border: 0;
}

.comments__counts {
    width: 60px;
    height: 60px;
    margin: 0 10px;
    background-color: white;
    border: 0;
}

.purchase__button-outer{
    width: 500px;
}

.purchase__button{
    width: 400px;
    height: 45px;
    margin-top: 10px;
    border: 0;
    border-radius: 5px;
    background-color: red;
    color: white;
    font-size: 23px;
    cursor: pointer;
}

.purchase__button-p{
    margin-top: 1%;
    width: 390px;
}

.detail__group{
    width: 100%;
}

.detail__title{
    width: 100%;
    margin-top: 20px;
    font-size: 25px;
    font-weight: bold;
}

.condition,.main__category,
.sub__category,.color{
    width: 100%;
    font-size: 17px;
}

.detail{
    width: 70%;
    font-size: 17px;
}