/* header */
.search__outer {
    width: 100%;
    height: 50%;
    padding-top: 7px;
}

@media screen and (max-width:768px) {
    .search__outer {
        width: 100%;
        height: 50%;
        padding-top: 2px;
    }
}

.search__input {
    width: 100%;
    padding: 7px 10px 7px 25px;
    border-radius: 7px;
    font-size: 90%;
}

@media screen and (max-width:768px) {
    .search__input {
        width: 100%;
        margin-top: 9px;
        padding: 4px 5px 4px 5px;
        border-radius: 7px;
        font-size: 7px;
    }
}

.logout__outer,
.mypage__button-outer,
.home__header-outer {
    width: 25%;
    height: 50%;
    margin-top: 0px;
    text-align: center;
    padding-top: 10px;
    cursor: pointer;
}

@media screen and (max-width:768px) {
    .logout__outer,
    .mypage__button-outer,
    .home__header-outer {
        width: 25%;
        height: 50%;
        margin-top: 0px;
        text-align: center;
        padding-top: 5px;
        cursor: pointer;
    }
}

.logout__button,
.mypage__button,
.home__header-button {
    color: white;
    background-color: black;
    border: 0;
    font-size: 90%;
    cursor: pointer;
}

@media screen and (max-width:768px) {
    .logout__button,
    .mypage__button,
    .home__header-button {
        color: white;
        background-color: black;
        border: 0;
        font-size: 7px;
        cursor: pointer;
    }
}

.create__link-outer {
    width: 25%;
    height: 50%;
    margin-top: 5px;
    padding-top: 6px;
    text-align: center;
    cursor: pointer;
}

@media screen and (max-width:768px) {
    .create__link-outer {
        width: 30%;
        height: 50%;
        margin-top: 3px;
        padding-top: 1px;
        text-align: center;
        cursor: pointer;
    }
}

.sell-create__button {
    width: 60%;
    height: 110%;
    margin: 0 20%;
    padding-top: 100px;
    border-radius: 5px;
    text-decoration: none;
    color: black;
    background-color: white;
    font-size: 90%;
    padding: 5px 5px;
}

@media screen and (max-width:768px) {
    .sell-create__button {
        width: 60%;
        height: 20px;
        margin: 0 20%;
        border-radius: 5px;
        text-decoration: none;
        color: black;
        background-color: white;
        font-size: 6px;
        padding: 3px 3px;
    }
}

/* content */
.content__outer {
    width: 95%;
    display: flex;
    justify-content: space-around;
    margin: 5px auto 50px;
}

.img__outer {
    width: 300px;
    margin-top: 100px;
    text-align: center;
    align-items: center;
    overflow: hidden;
}

@media screen and (max-width:768px) {
    .img__outer {
        width: 115px;
        margin-top: 50px;
        text-align: center;
        align-items: center;
        overflow: hidden;
    }
}

.img__outer img {
    width: 300px;
    border-radius: 5px;
    object-fit: cover;
}

@media screen and (max-width:768px) {
    .img__outer img {
        width: 115px;
        border-radius: 5px;
        object-fit: cover;
    }
}

.detail__outer {
    width: 50%;
    padding-top: 50px;
}

@media screen and (max-width:768px) {
    .detail__outer {
        width: 50%;
        padding-top: 25px;
    }
}

.item__title{
    width: 100%;
    margin: 0;
    font-size: 35px;
    font-weight: bold;
}

@media screen and (max-width:768px) {
    .item__title {
        width: 100%;
        margin: 0;
        font-size: 18px;
        font-weight: bold;
    }
}

.brand{
    width: 100%;
    margin: 0;
    padding-top: 10px;
    font-size: 20px;
}

@media screen and (max-width:768px) {
    .brand {
        width: 100%;
        margin: 0;
        padding-top: 5px;
        font-size: 10px;
    }
}

.price{
    width: 100%;
    margin: 0;
    padding-top: 15px;
    font-size: 30px;
}

@media screen and (max-width:768px) {
    .price {
        width: 100%;
        margin: 0;
        padding-top: 8px;
        font-size: 15px;
    }
}

.icon__group{
    width: 50%;
    padding-top: 10px;
    display: flex;
}

@media screen and (max-width:768px) {
    .icon__group {
        width: 50%;
        padding-top: 5px;
        display: flex;
    }
}

.star__button{
    width: 60px;
    height: 60px;
    margin: 0 10px 0 0;
    background-color: white;
    border: 0;
    cursor: pointer;
}

@media screen and (max-width:768px) {
    .star__button {
        width: 30px;
        height: 30px;
        margin: 0 5px 0 0;
        background-color: white;
        border: 0;
        cursor: pointer;
    }
}

.comment__button {
    width: 60px;
    height: 60px;
    margin: 0 10px 0 10px;
    background-color: white;
    border: 0;
    cursor: pointer;
}

@media screen and (max-width:768px) {
    .comment__button {
        width: 30px;
        height: 30px;
        margin: 0 5px 0 5px;
        background-color: white;
        border: 0;
        cursor: pointer;
    }
}

.star__img,
.comment__img{
    width: 40px;
    height: 40px;
}

@media screen and (max-width:768px) {
    .star__img,
    .comment__img {
        width: 20px;
        height: 20px;
    }
}

.counts {
    width: 200px;
    padding-top: 10px;
    padding-left: 15px;
    display: flex;
}

@media screen and (max-width:768px) {
    .counts {
        width: 100px;
        padding-top: 5px;
        padding-left: 8px;
        display: flex;
    }
}

.favorites__counts {
    width: 60px;
    height: 60px;
    margin: 0 10px;
    background-color: white;
    border: 0;
}

@media screen and (max-width:768px) {
    .favorites__counts {
        width: 30px;
        height: 30px;
        margin: 0 5px;
        background-color: white;
        border: 0;
        font-size: 35%;
    }
}

.comments__counts {
    width: 60px;
    height: 60px;
    margin: 0 10px;
    background-color: white;
    border: 0;
}

@media screen and (max-width:768px) {
    .comments__counts {
        width: 30px;
        height: 30px;
        margin: 0 5px;
        background-color: white;
        border: 0;
        font-size: 35%;
    }
}

.purchase__button-outer{
    width: 60%;
}

@media screen and (max-width:768px) {
    .purchase__button-outer {
        width: 60%;
    }
}

.purchase__button{
    width: 90%;
    height: 45px;
    margin-top: 10px;
    border: 0;
    border-radius: 5px;
    background-color: red;
    color: white;
    font-size: 23px;
    cursor: pointer;
}

@media screen and (max-width:768px) {
    .purchase__button {
        width: 90%;
        height: 23px;
        margin-top: 5px;
        border: 0;
        border-radius: 5px;
        background-color: red;
        color: white;
        font-size: 12px;
        cursor: pointer;
    }
}

.detail__group {
    width: 100%;
}

.detail__title{
    width: 100%;
    margin-top: 20px;
    font-size: 25px;
    font-weight: bold;
}

@media screen and (max-width:768px) {
    .detail__title {
        width: 100%;
        margin-top: 10px;
        font-size: 13px;
        font-weight: bold;
    }
}

.condition,
.main__category,
.sub__category,
.color{
    width: 100%;
    font-size: 17px;
}

@media screen and (max-width:768px) {
    .condition,
    .main__category,
    .sub__category,
    .color {
        width: 100%;
        font-size: 9px;
    }
}

.detail{
    width: 60%;
    font-size: 17px;
}

@media screen and (max-width:768px) {
    .detail {
        width: 60%;
        font-size: 9px;
    }
}

.seller__outer{
    width: 70%;
    height: 70px;
    margin-top: 50px;
    margin-bottom: 100px;
    display: flex;
    justify-content: flex-start;
}

@media screen and (max-width:768px) {
    .seller__outer{
        width: 70%;
        height: 35px;
        margin-top: 25px;
        margin-bottom: 50px;
        display: flex;
        justify-content: flex-start;
    }
}

.seller {
    width: 70px;
    height: 70px;
    margin-top: 0;
    padding-top: 15px;
    font-size: 20px;
}

@media screen and (max-width:768px) {
    .seller {
        width: 30px;
        height: 35px;
        margin-top: 0;
        padding-top: 8px;
        font-size: 8px;
    }
}

.user__img-outer{
    width: 70px;
    height: 70px;
    overflow: hidden;
}

@media screen and (max-width:768px) {
    .user__img-outer{
        width: 20px;
        height: 20px;
        overflow: hidden;
    }
}

.user__img{
    width: 70px;
    height: 70px;
    object-fit: cover;
}

@media screen and (max-width:768px) {
    .user__img{
        width: 20px;
        height: 20px;
        object-fit: cover;
    }
}

.seller__name{
    width: 140px;
    height: 70px;
    margin-top: 0;
    padding-top: 15px;
    padding-left: 5px;
    font-size: 20px;
}

@media screen and (max-width:768px) {
    .seller__name{
        width: 70px;
        height: 35px;
        margin-top: 0;
        padding-top: 8px;
        padding-left: 3px;
        font-size: 10px;
    }
}


