/* header */
.search__outer {
    width: 100%;
    height: 50%;
    padding-top: 7px;
}

@media screen and (max-width:768px) {
    .search__outer {
        width: 100%;
        height: 50%;
        padding-top: 2px;
    }
}

.search__input {
    width: 100%;
    padding: 7px 10px 7px 25px;
    border-radius: 7px;
    font-size: 90%;
}

@media screen and (max-width:768px) {
    .search__input {
        width: 100%;
        margin-top: 9px;
        padding: 4px 5px 4px 5px;
        border-radius: 7px;
        font-size: 7px;
    }
}

.logout__outer,
.mypage__button-outer,
.home__header-outer {
    width: 25%;
    height: 50%;
    margin-top: 0px;
    text-align: center;
    padding-top: 10px;
    cursor: pointer;
}

@media screen and (max-width:768px) {
    .logout__outer,
    .mypage__button-outer,
    .home__header-outer {
        width: 25%;
        height: 50%;
        margin-top: 0px;
        text-align: center;
        padding-top: 5px;
        cursor: pointer;
    }
}

.logout__button,
.mypage__button,
.home__header-button {
    color: white;
    background-color: black;
    border: 0;
    font-size: 90%;
    cursor: pointer;
}

@media screen and (max-width:768px) {
    .logout__button,
    .mypage__button,
    .home__header-button {
        color: white;
        background-color: black;
        border: 0;
        font-size: 7px;
        cursor: pointer;
    }
}

.create__link-outer {
    width: 25%;
    height: 50%;
    margin-top: 5px;
    padding-top: 6px;
    text-align: center;
    cursor: pointer;
}

@media screen and (max-width:768px) {
    .create__link-outer {
        width: 30%;
        height: 50%;
        margin-top: 3px;
        padding-top: 1px;
        text-align: center;
        cursor: pointer;
    }
}

.sell-create__button {
    width: 60%;
    height: 110%;
    margin: 0 20%;
    padding-top: 100px;
    border-radius: 5px;
    text-decoration: none;
    color: black;
    background-color: white;
    font-size: 90%;
    padding: 5px 5px;
    cursor: pointer;
}

@media screen and (max-width:768px) {
    .sell-create__button {
        width: 60%;
        height: 20px;
        margin: 0 20%;
        border-radius: 5px;
        text-decoration: none;
        color: black;
        background-color: white;
        font-size: 6px;
        padding: 3px 3px;
        cursor: pointer;
    }
}

/* content */
.content__outer {
    width: 100%;
    margin: 5px auto 50px;
}

.title__outer {
    width: 100%;
    border-bottom: solid 2px black;
    text-align: left;
    display: flex;
}
.home__form,
.favorite__form {
    width: 20%;
    height: 100%;
    margin-top: 3%;
    margin-bottom: 1%;
}

.home__button,
.favorite__list-button {
    width: 100%;
    font-size: 27px;
    font-weight: bold;
    background-color: white;
    margin-left: 5%;
    border: 0;
    cursor: pointer;
}

@media screen and (max-width:768px) {
    .home__button,
    .favorite__list-button {
        width: 100%;
        font-size: 14px;
        font-weight: bold;
        background-color: white;
        margin-left: 5%;
        border: 0;
        cursor: pointer;
    }
}

/*商品一覧*/
.items__outer {
    width: 95%;
    margin: 0 auto;
    padding: 2% 3%;
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
}

@media screen and (max-width:1280px) {
    .items__outer {
        width: 100%;
        padding: 2% 3%;
        display: flex;
        justify-content: flex-start;
        flex-wrap: wrap;
    }
}

@media screen and (max-width:1024px) {
    .items__outer {
        width: 100%;
        padding: 2% 3%;
        display: flex;
        justify-content: flex-start;
        flex-wrap: wrap;
    }
}

@media screen and (max-width:912px) {
    .items__outer {
        width: 95%;
        margin: 0 auto;
        padding: 2% 3%;
        display: flex;
        justify-content: flex-start;
        flex-wrap: wrap;
    }
}

@media screen and (max-width:768px) {
    .items__outer {
        width: 100%;
        padding: 2% 3%;
        display: flex;
        justify-content: flex-start;
        flex-wrap: wrap;
    }
}

@media screen and (max-width:375px) {
    .items__outer {
        width: 100%;
        padding: 2% 3%;
        display: flex;
        justify-content: flex-start;
        flex-wrap: wrap;
    }
}

.each__item {
    border: 0;
    background-color: white;
    text-decoration: none;
    cursor: pointer;
}

.item__box {
    width: 290px;
    height: 290px;
    border-radius: 5px;
    position: relative;
    top: 0;
    left: 0;
}

@media screen and (max-width:1280px) {
    .item__box {
        width: 280px;
        height: 280px;
        border-radius: 5px;
        position: relative;
        top: 0;
        left: 0;
    }
}

@media screen and (max-width:912px) {
    .item__box {
        width: 300px;
        height: 300px;
        margin-left: 40px;
        border-radius: 5px;
        position: relative;
        top: 0;
        left: 0;
    }
}

@media screen and (max-width:820px) {
    .item__box {
        width: 300px;
        height: 300px;
        margin-left: 20px;
        border-radius: 5px;
        position: relative;
        top: 0;
        left: 0;
    }
}

@media screen and (max-width:768px) {
    .item__box {
        width: 140px;
        height: 140px;
        border-radius: 5px;
        position: relative;
        top: 0;
        left: 0;
    }
}

@media screen and (max-width:540px) {
    .item__box {
        width: 150px;
        height: 150px;
        margin-left: 40px;
        border-radius: 5px;
        position: relative;
        top: 0;
        left: 0;
    }
}

@media screen and (max-width:430px) {
    .item__box {
        width: 150px;
        height: 150px;
        margin-left: 10px;
        border-radius: 5px;
        position: relative;
        top: 0;
        left: 0;
    }
}

@media screen and (max-width:375px) {
    .item__box {
        width: 150px;
        height: 150px;
        border-radius: 5px;
        position: relative;
        top: 0;
        left: 0;
    }
}

@media screen and (max-width:360px) {
    .item__box {
        width: 140px;
        height: 140px;
        border-radius: 5px;
        position: relative;
        top: 0;
        left: 0;
    }
}

@media screen and (max-width:344px) {
    .item__box {
        width: 130px;
        height: 130px;
        border-radius: 5px;
        position: relative;
        top: 0;
        left: 0;
    }
}

.item__img {
    width: 100%;
    height: 100%;
    border-radius: 5px;
}

.item__img img {
    width: 100%;
    height: 100%;
    border-radius: 5px;
    object-fit: cover;
}

.price__outer {
    position: absolute;
    bottom: 3%;
    left: 0;
    z-index: 5px;
    width: 70%;
    height: 15%;
}

.price {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 7%;
    color: white;
    font-size: 23px;
    background-color: rgba(0, 0, 0, 0.5);
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
}

@media screen and (max-width:768px) {
    .price {
        width: 100%;
        height: 100%;
        margin: 0;
        padding: 7%;
        color: white;
        font-size: 12px;
        background-color: rgba(0, 0, 0, 0.5);
        border-top-right-radius: 50px;
        border-bottom-right-radius: 50px;
    }
}

.item__img-group {
    width: 100%;
    height: 100%;
    border-radius: 5px;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.item__img-group img {
    width: 100%;
    height: 100%;
    padding: auto;
    border-radius: 5px;
    object-fit: cover;
}

.sold__mark {
    position: absolute;
    top: 0px;
    border-top: 50px solid red;
    border-right: 50px solid transparent;
    border-bottom: 50px solid transparent;
    border-left: 50px solid red;
    border-top-left-radius: 5px;
}

@media screen and (max-width:768px) {
    .sold__mark {
        position: absolute;
        top: 0px;
        border-top: 25px solid red;
        border-right: 25px solid transparent;
        border-bottom: 25px solid transparent;
        border-left: 25px solid red;
        border-top-left-radius: 5px;
    }
}

.sold {
    position: absolute;
    top: -50px;
    left: -50px;
    width: 70px;
    padding-top: 2px;
    font-size: 20px;
    color: white;
    transform: rotate(-45deg);
}

@media screen and (max-width:768px) {
    .sold {
        position: absolute;
        top: -25px;
        left: -25px;
        width: 35px;
        padding-top: 1px;
        font-size: 10px;
        color: white;
        transform: rotate(-45deg);
    }
}

.admin__button-outer{
    width: 100%;
    padding-top: 20px;
    border-top: solid 2px black;
    text-align: center;
}

@media screen and (max-width:768px) {
    .admin__button-outer {
        width: 100%;
        padding-top: 10px;
        border-top: solid 2px black;
        text-align: center;
    }
}

.admin__button{
    cursor: pointer;
}

.message{
    color: red;
}