/* header */
.search__outer {
    width: 100%;
    height: 100%;
}

.search__input {
    width: 100%;
    height: 100%;
    padding: 7px 10px 7px 25px;
    border-radius: 7px;
    font-size: 120%;
}

.logout__outer {
    width: 25%;
    height: 100%;
    padding-top: 1%;
    text-align: center;
}

.logout__button {
    color: white;
    background-color: black;
    border: 0;
    font-size: 110%;
    cursor: pointer;
}

.mypage__button-outer,
.home__header-outer {
    width: 25%;
    height: 100%;
    padding-top: 1%;
    text-align: center;
}

.mypage__button,
.home__header-button {
    color: white;
    background-color: black;
    font-size: 120%;
    border: 0;
    cursor: pointer;
}

.create__link-outer {
    width: 25%;
    height: 100%;
    text-align: center;
}

.sell-create__button {
    width: 60%;
    height: 100%;
    margin: 0 20%;
    border-radius: 5px;
    text-decoration: none;
    color: black;
    background-color: white;
    font-size: 120%;
    padding: 5px 5px;
    cursor: pointer;
}

/* content */
.mylist__outer{
    width: 100%;
}

.favorite__list-button {
    width: 300px;
    margin-left: 5%;
    margin-top: 2%;
    font-size: 22px;
    background-color: lemonchiffon;
    color: black;
    border: solid 3px papayawhip;
    border-radius: 5%;
    cursor: pointer;
}

.content__outer {
    width: 100%;
    display: flex;
    justify-content: space-around;
    margin: 5px auto;
}

.img__outer {
    width: 50%;
    padding-top: 100px;
    text-align: center;
}

.img__outer img {
    width: 70%;
    border-radius: 5px;
}

.detail__outer {
    width: 50%;
    padding-top: 50px;
}

.item__title {
    width: 100%;
    margin: 0;
    font-size: 35px;
    font-weight: bold;
}

.brand {
    width: 100%;
    margin: 0;
    padding-top: 10px;
    font-size: 20px;
}

.price {
    width: 100%;
    margin: 0;
    padding-top: 15px;
    font-size: 30px;
}

.icon__group{
    width: 200px;
    padding-top: 10px;
    display: flex;
}

.star__button{
    width: 60px;
    height: 60px;
    margin: 0 10px 0 0;
    background-color: white;
    border: 0;
    cursor: pointer;
}

.comment__button {
    width: 60px;
    height: 60px;
    margin: 0 10px 0 10px;
    background-color: white;
    border: 0;
    cursor: pointer;
}

.star__img,.comment__img{
    width: 40px;
    height: 40px;
}

.counts {
    width: 200px;
    padding-top: 10px;
    padding-left: 15px;
    display: flex;
}

.favorites__counts {
    width: 60px;
    height: 60px;
    margin: 0 10px;
    background-color: white;
    border: 0;
}

.comments__counts {
    width: 60px;
    height: 60px;
    margin: 0 10px;
    background-color: white;
    border: 0;
}

.purchase__button-outer{
    width: 500px;
}

.purchase__button{
    width: 400px;
    height: 45px;
    margin-top: 10px;
    border: 0;
    border-radius: 5px;
    background-color: red;
    color: white;
    font-size: 23px;
    cursor: pointer;
}

.detail__group {
    width: 100%;
}

.detail__title {
    width: 100%;
    margin-top: 20px;
    font-size: 25px;
    font-weight: bold;
}

.condition,
.main__category,
.sub__category,
.color {
    width: 100%;
    font-size: 17px;
}

.detail {
    width: 70%;
    font-size: 17px;
}