/* header */
.search__outer {
    width: 100%;
    height: 100%;
}

.search__input {
    width: 100%;
    height: 100%;
    padding: 7px 10px 7px 25px;
    border-radius: 7px;
    font-size: 120%;
}

.logout__outer {
    width: 25%;
    height: 100%;
    padding-top: 1%;
    text-align: center;
}

.logout__button {
    color: white;
    background-color: black;
    border: 0;
    font-size: 110%;
    cursor: pointer;
}

.mypage__button-outer,
.home__header-outer {
    width: 25%;
    height: 100%;
    padding-top: 1%;
    text-align: center;
}

.mypage__button,
.home__header-button {
    color: white;
    background-color: black;
    border: 0;
    font-size: 120%;
    cursor: pointer;
}

.create__link-outer {
    width: 25%;
    height: 100%;
    text-align: center;
}

.sell-create__button {
    width: 60%;
    height: 100%;
    margin: 0 20%;
    border-radius: 5px;
    text-decoration: none;
    color: black;
    background-color: white;
    font-size: 120%;
    padding: 5px 5px;
    cursor: pointer;
}

/* content */
.content__outer {
    width: 100%;
    margin: 5px auto;
}

.title__outer {
    width: 100%;
    height: 100px;
    text-align: center;
    font-size: 25px;
}

.input__group {
    width: 100%;
    text-align: center;
}

.input__group-img{
    width: 700px;
    margin: 10px auto;
}

.input__group-p{
    width: 700px;
    margin: 20px auto 5px;
    text-align: left;
    font-size: 20px;
    font-weight: bold;
}

.group__img{
    padding-top: 50px;
    padding-bottom: 50px;
    border: dashed 1px black;
    border-radius: 5px;
}

.limit__p{
    width: 700px;
    margin: 0;
    padding-left: 220px;
    text-align: left;
    color: red;
    font-size: 15px;
}

.subtitle__outer{
    width: 700px;
    margin: 5px auto;
}

.subtitle{
    width: 700px;
    font-size: 30px;
    font-weight: bold;
    text-align: left;
    border-bottom: solid 1px black;
}

.input__group-row select{
    width: 700px;
    height: 40px;
}

.input__group-row input{
    width: 700px;
    height: 40px;
}

.sell__button {
    width: 700px;
    height: 45px;
    margin-top: 80px;
    margin-bottom: 100px;
    border: 0;
    border-radius: 5px;
    background-color: red;
    color: white;
    font-size: 23px;
    cursor: pointer;
}