/* header */
.search__outer {
    width: 100%;
    height: 50%;
    padding-top: 7px;
}

@media screen and (max-width:768px) {
    .search__outer {
        width: 100%;
        height: 50%;
        padding-top: 2px;
    }
}

.search__input {
    width: 100%;
    margin-top: 5px;
    padding: 7px 10px 7px 25px;
    border-radius: 7px;
    font-size: 90%;
}

@media screen and (max-width:768px) {
    .search__input {
        width: 100%;
        margin-top: 9px;
        padding: 4px 5px 4px 5px;
        border-radius: 7px;
        font-size: 7px;
    }
}

.logout__outer,
.mypage__button-outer,
.home__header-outer {
    width: 25%;
    height: 50%;
    margin-top: 0px;
    text-align: center;
    padding-top: 10px;
    cursor: pointer;
}

@media screen and (max-width:768px) {
    .logout__outer,
    .mypage__button-outer,
    .home__header-outer {
        width: 25%;
        height: 50%;
        margin-top: 0px;
        text-align: center;
        padding-top: 5px;
        cursor: pointer;
    }
}

.logout__button,
.mypage__button,
.home__header-button {
    color: white;
    background-color: black;
    border: 0;
    font-size: 90%;
    cursor: pointer;
}

@media screen and (max-width:768px) {
    .logout__button,
    .mypage__button,
    .home__header-button {
        color: white;
        background-color: black;
        border: 0;
        font-size: 7px;
        cursor: pointer;
    }
}

.create__link-outer {
    width: 25%;
    height: 50%;
    margin-top: 5px;
    padding-top: 6px;
    text-align: center;
    cursor: pointer;
}

@media screen and (max-width:768px) {
    .create__link-outer {
        width: 30%;
        height: 50%;
        margin-top: 3px;
        padding-top: 1px;
        text-align: center;
        cursor: pointer;
    }
}

.sell-create__button {
    width: 60%;
    height: 110%;
    margin: 0 20%;
    padding-top: 100px;
    border-radius: 5px;
    text-decoration: none;
    color: black;
    background-color: white;
    font-size: 90%;
    padding: 5px 5px;
    cursor: pointer;
}

@media screen and (max-width:768px) {
    .sell-create__button {
        width: 60%;
        height: 20px;
        margin: 0 20%;
        border-radius: 5px;
        text-decoration: none;
        color: black;
        background-color: white;
        font-size: 6px;
        padding: 3px 3px;
        cursor: pointer;
    }
}

/* content */
.content__outer {
    width: 100%;
    display: flex;
    justify-content: space-around;
    margin: 5px auto 50px;
}

.img__outer {
    width: 400px;
    margin: 100px 50px 0;
    text-align: center;
    position: relative;
    top: 0;
    left: 0;
    align-items: center;
    overflow: hidden;
}

@media screen and (max-width:768px) {
    .img__outer {
        width: 150px;
        margin: 25px 13px 0;
        text-align: center;
        position: relative;
        top: 0;
        left: 0;
        align-items: center;
        overflow: hidden;
    }
}

.img__outer img {
    width: 400px;
    border-radius: 5px;
    object-fit: cover;
}

@media screen and (max-width:768px) {
    .img__outer img {
        width: 150px;
        border-radius: 5px;
        object-fit: cover;
    }
}

.sold__mark {
    position: absolute;
    top: 0;
    left: 0;
    border-top: 100px solid red;
    border-right: 100px solid transparent;
    border-bottom: 100px solid transparent;
    border-left: 100px solid red;
    border-top-left-radius: 5px;
}

@media screen and (max-width:768px) {
    .sold__mark {
        position: absolute;
        top: 0;
        left: 0;
        border-top: 25px solid red;
        border-right: 25px solid transparent;
        border-bottom: 25px solid transparent;
        border-left: 25px solid red;
        border-top-left-radius: 5px;
    }
}

.sold {
    position: absolute;
    top: -100px;
    left: -100px;
    width: 150px;
    font-size: 40px;
    color: white;
    transform: rotate(-45deg);
}

@media screen and (max-width:768px) {
    .sold {
        position: absolute;
        top: -25px;
        left: -25px;
        width: 38px;
        font-size: 10px;
        color: white;
        transform: rotate(-45deg);
    }
}

.detail__outer-group {
    width: 50%;
}

.detail__outer {
    width: 100%;
    padding-top: 50px;
}

@media screen and (max-width:768px) {
    .detail__outer {
        width: 50%;
        padding-top: 25px;
    }
}

.item__title {
    width: 100%;
    margin: 0;
    font-size: 35px;
    font-weight: bold;
}

@media screen and (max-width:768px) {
    .item__title {
        width: 100%;
        margin: 0;
        font-size: 18px;
        font-weight: bold;
    }
}

.brand {
    width: 100%;
    margin: 0;
    padding-top: 10px;
    font-size: 20px;
}

@media screen and (max-width:768px) {
    .brand {
        width: 100%;
        margin: 0;
        padding-top: 5px;
        font-size: 10px;
    }
}

.price {
    width: 100%;
    margin: 0;
    padding-top: 15px;
    font-size: 30px;
}

@media screen and (max-width:768px) {
    .price {
        width: 100%;
        margin: 0;
        padding-top: 8px;
        font-size: 15px;
    }
}

.icon__group {
    width: 50%;
    padding-top: 10px;
    display: flex;
}

@media screen and (max-width:768px) {
    .icon__group {
        width: 50%;
        padding-top: 5px;
        display: flex;
    }
}

.star__button {
    width: 60px;
    height: 60px;
    margin: 0 10px 0 0;
    background-color: white;
    border: 0;
    cursor: pointer;
}

@media screen and (max-width:768px) {
    .star__button {
        width: 30px;
        height: 30px;
        margin: 0 5px 0 0;
        background-color: white;
        border: 0;
        cursor: pointer;
    }
}

.comment__button {
    width: 60px;
    height: 60px;
    margin: 0 10px 0 10px;
    background-color: white;
    border: 0;
    cursor: pointer;
}

@media screen and (max-width:768px) {
    .comment__button {
        width: 30px;
        height: 30px;
        margin: 0 5px 0 5px;
        background-color: white;
        border: 0;
        cursor: pointer;
    }
}

.star__img,
.comment__img {
    width: 40px;
    height: 40px;
}

@media screen and (max-width:768px) {
    .star__img,
    .comment__img {
        width: 20px;
        height: 20px;
    }
}

.counts {
    width: 200px;
    padding-top: 10px;
    padding-left: 15px;
    display: flex;
}

@media screen and (max-width:768px) {
    .counts {
        width: 100px;
        padding-top: 5px;
        padding-left: 8px;
        display: flex;
    }
}

.favorites__counts {
    width: 60px;
    height: 60px;
    margin: 0 10px;
    background-color: white;
    border: 0;
}

@media screen and (max-width:768px) {
    .favorites__counts {
        width: 30px;
        height: 30px;
        margin: 0 5px;
        background-color: white;
        border: 0;
        font-size: 35%;
    }
}

.comments__counts {
    width: 60px;
    height: 60px;
    margin: 0 10px;
    background-color: white;
    border: 0;
}

@media screen and (max-width:768px) {
    .comments__counts {
        width: 30px;
        height: 30px;
        margin: 0 5px;
        background-color: white;
        border: 0;
        font-size: 35%;
    }
}

/* comment */
.comment__list-outer {
    width: 100%;
}

.comment__list {
    width: 100%;
}

.comment-user__img-outer {
    width: 60px;
}

@media screen and (max-width:768px) {
    .comment-user__img-outer {
        width: 30px;
    }
}

.comment-user__img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    object-fit: cover;
}

@media screen and (max-width:768px) {
    .comment-user__img {
        width: 25px;
        height: 25px;
        border-radius: 50%;
        object-fit: cover;
    }
}

.comment__user {
    height: 50px;
    margin-left: 5px;
    font-size: 20px;
}

@media screen and (max-width:768px) {
    .comment__user {
        height: 25px;
        margin-left: 3px;
        font-size: 10px;
    }
}

.comment__content {
    width: 80%;
    margin: 10px;
    font-size: 18px;
}

@media screen and (max-width:768px) {
    .comment__content {
        width: 80%;
        margin: 5px;
        font-size: 9px;
    }
}

.comment-delete__button-outer {
    width: 80%;
    text-align: right;
}

.comment-delete__button {
    width: 100px;
    text-align: center;
    margin-top: 0;
    cursor: pointer;
}

@media screen and (max-width:768px) {
    .comment-delete__button {
        width: 50px;
        text-align: center;
        margin-top: 0;
        font-size: 10px;
        cursor: pointer;
    }
}