/* header */
.search__outer {
    width: 100%;
    height: 100%;
}

.search__input {
    width: 100%;
    height: 100%;
    padding: 7px 10px 7px 25px;
    border-radius: 7px;
    font-size: 120%;
}

.logout__outer {
    width: 25%;
    height: 100%;
    padding-top: 1%;
    text-align: center;
}

.logout__button {
    color: white;
    background-color: black;
    border: 0;
    font-size: 110%;
    cursor: pointer;
}

.mypage__button-outer,
.home__header-outer {
    width: 25%;
    height: 100%;
    padding-top: 1%;
    text-align: center;
}

.mypage__button,
.home__header-button {
    color: white;
    background-color: black;
    font-size: 120%;
    border: 0;
    cursor: pointer;
}

.create__link-outer {
    width: 25%;
    height: 100%;
    text-align: center;
    cursor: pointer;
}

.sell-create__button {
    width: 60%;
    height: 110%;
    margin: 0 20%;
    border-radius: 5px;
    text-decoration: none;
    color: black;
    background-color: white;
    font-size: 120%;
    padding: 5px 5px;
    cursor: pointer;
}

/* content */
.content__outer {
    width: 100%;
    display: flex;
    justify-content: space-around;
    margin: 5px auto;
}

.img__outer {
    width: 400px;
    margin: 100px 50px 0;
    text-align: center;
    position: relative;
    top: 0;
    left: 0;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.img__outer img {
    width: 400px;
    border-radius: 5px;
    object-fit: cover;
}

.sold__mark {
    position: absolute;
    top: 0;
    left: 0;
    border-top: 100px solid red;
    border-right: 100px solid transparent;
    border-bottom: 100px solid transparent;
    border-left: 100px solid red;
    border-top-left-radius: 5px;
}

.sold {
    position: absolute;
    top: -100px;
    left: -100px;
    width: 150px;
    font-size: 40px;
    color: white;
    transform: rotate(-45deg);
}

.detail__outer-group {
    width: 50%;
}

.detail__outer {
    width: 100%;
    padding-top: 50px;
}

.item__title {
    width: 100%;
    margin: 0;
    font-size: 35px;
    font-weight: bold;
}

.brand {
    width: 100%;
    margin: 0;
    padding-top: 10px;
    font-size: 20px;
}

.price {
    width: 100%;
    margin: 0;
    padding-top: 15px;
    font-size: 30px;
}

.icon__group {
    width: 200px;
    padding-top: 10px;
    display: flex;
}

.star__button {
    width: 60px;
    height: 60px;
    margin: 0 10px 0 0;
    background-color: white;
    border: 0;
    cursor: pointer;
}

.comment__button {
    width: 60px;
    height: 60px;
    margin: 0 10px 0 10px;
    background-color: white;
    border: 0;
    cursor: pointer;
}

.star__img,
.comment__img {
    width: 40px;
    height: 40px;
}

.counts {
    width: 200px;
    padding-top: 10px;
    padding-left: 15px;
    display: flex;
}

.favorites__counts {
    width: 60px;
    height: 60px;
    margin: 0 10px;
    background-color: white;
    border: 0;
}

.comments__counts {
    width: 60px;
    height: 60px;
    margin: 0 10px;
    background-color: white;
    border: 0;
}

/* comment */
.comment__list-outer {
    width: 100%;
}

.comment__list {
    width: 100%;
}

.comment-user__img-outer {
    width: 60px;
}

.comment-user__img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    object-fit: cover;
}

.comment__user {
    height: 50px;
    margin-left: 5px;
    font-size: 20px;
}

.comment__content {
    width: 80%;
    font-size: 18px;
}

.comment-delete__button-outer {
    width: 80%;
    text-align: right;
    border: solid 1px red;
}

.comment-delete__button {
    width: 100px;
    text-align: center;
    margin-top: 0;
    cursor: pointer;
}